{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="old_password" placeholder="Old Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="new_password" placeholder="New Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Repeat New Password" type="password" required>
        </div>

        <p>
        <input type="checkbox" name="understood" id="understood" required>
            <label for="understood">I understand and accept the fact that this can not be reverted!</label>
        </p>

        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
